<a href="https://colab.research.google.com/github/kalindi-putra/Suggestion-place/blob/main/Spark_PlayGround.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Bash
!pip install pyspark findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Spark Project").getOrCreate()

In [5]:
data=[
    {
        "id": 1,
        "name": "John",
        "address": {
            "city": "New York",
            "state": "NY"
        },
        "phone_numbers": [
            {"type": "home", "number": "123-456-7890"},
            {"type": "work", "number": "987-654-3210"}
        ]
    },
    {
        "id": 2,
        "name": "Jane",
        "address": {
            "city": "San Francisco",
            "state": "CA"
        },
        "phone_numbers": [
            {"type": "mobile", "number": "555-1234"},
            {"type": "work", "number": "777-4321"}
        ]
    }
]

In [12]:
DataFrame=spark.createDataFrame(data)  #defined data directly in here

DataFrame.head

In [17]:
from pyspark.sql.functions import col,explode

explodeDF=DataFrame.select(col("id"),
                         col("name"),
                         col("address.city").alias("city"),
                         col("address.state").alias("state"),
                         explode(col("phone_numbers")).alias("Phone"))

In [21]:
explodeDF.show(truncate=False)

+---+----+-------------+-----+--------------------------------------+
|id |name|city         |state|Phone                                 |
+---+----+-------------+-----+--------------------------------------+
|1  |John|New York     |NY   |{type -> home, number -> 123-456-7890}|
|1  |John|New York     |NY   |{type -> work, number -> 987-654-3210}|
|2  |Jane|San Francisco|CA   |{type -> mobile, number -> 555-1234}  |
|2  |Jane|San Francisco|CA   |{type -> work, number -> 777-4321}    |
+---+----+-------------+-----+--------------------------------------+

In [25]:
explodeDF_new=explodeDF.select(col("id"),
                               col("name"),
                               col("city"),
                               col("state"),
                               col("Phone.type").alias("Phone_Type"),
                               col("Phone.number").alias("Phone_number"))

In [26]:
explodeDF_new.show(truncate=False)

+---+----+-------------+-----+----------+------------+
|id |name|city         |state|Phone_Type|Phone_number|
+---+----+-------------+-----+----------+------------+
|1  |John|New York     |NY   |home      |123-456-7890|
|1  |John|New York     |NY   |work      |987-654-3210|
|2  |Jane|San Francisco|CA   |mobile    |555-1234    |
|2  |Jane|San Francisco|CA   |work      |777-4321    |
+---+----+-------------+-----+----------+------------+